<!DOCTYPE html>
<html>
<body style="margin:0px;">

     <table style=" margin: 12px; border-collapse: collapse; font-family: Calibri, Helvetica, Arial, sans-serif; ">
		<tr>
			<td  colspan="2">
				<h1><b style="color:#81628B">PURCHASE ORDER</b></h1>
				<p><b>INFRAB BAZAAR PRIVATE LIMITED</b><br>Puzzolana Towers, IInd Foor, Road No 10,<br>Banjara Hills
				Hyderabad, Telangana - 500034<br><b>Phone: </b>(040) 66101 777 / 888<br><b style="color:#EA4237">GST: 36AACCI7836H1ZD</b></p>
			</td><td colspan="2"> &nbsp;</td>
			<td style="float:right;" >
			<table style="float:right;">
			<tr>
			<td><img style="float:right" src="https://www.infrabazaar.com/site_assets/images/logo.png"></td></tr><tr>
			<td><p style="text-align:right">Date : __ / __ / ______<br>PO : 202158</p></td>
			</tr></table></td>
		</tr>
		<tr><br>
			<td style="background:#81628B;color:white;text-align:center" colspan="2">
				<p><b>VENDOR</b></p>
			</td>
			<td style="width:50px;">&nbsp;</td>
			<td  style="background:#81628B;color:white;text-align:center" colspan="2">
				<p><b>SHIP TO</b></p>
			</td>
		</tr>
		<tr><br>
			<td  style="padding:0px;border:0px;text-align:justify" colspan="2">
				<p><b>OSSIJHKJSHKJHAJS</b><br>Puzzolana Towers, IInd Foor, Road No 10, Banjara Hills
				Hyderabad, Telangana - 500034<br><b>Phone: </b>(040) 66101 777 / 888<br><b style="color:#EA4237">GST: 325454154
				2515</b><br>Contact Person : Mr. Subba Rao</p>
				<p></p>
			</td>
			<td style="padding:0px;border:0px;width:50px;">&nbsp;</td>
			<td style="padding:0px;border:0px;text-align:justify" colspan="2">
				<p><b>INFRAB BAZAAR PRIVATE LIMITED</b><br>Puzzolana Towers, IInd Foor, Road No 10, Banjara Hills
				Hyderabad, Telangana - 500034<br><b>Phone: </b>(040) 66101 777 / 888<br><b style="color:#EA4237">GST: 36AACCI7836H1ZD</b><br>Contact Person : Mr. Subba Rao</p>
			</td>
		</tr>
		<tr>
			<td  style="padding:0px;border:0px;background:#81628B;color:white;text-align:center">
				<p><b>REQUISITIONER</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#81628B;color:white;text-align:center">
				<p><b>SHIP VIA</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#81628B;color:white;text-align:center">
				<p><b>FOB</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#81628B;color:white;text-align:center" colspan="2">
				<p><b>SHIPPING TERMS</b></p>
			</td>
		</tr>
		<tr>
			<td  style="padding:0px;border:0px;background:#fff;border:1px solid black;color:white;text-align:center">
				<p><b>REQUISITIONER</b></p>
			</td>
			<td style="padding:0px;border:0px;background:#fff;border:1px solid black;color:white;text-align:center">
				<p><b>SHIP VIA</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#fff;border:1px solid black;color:white;text-align:center">
				<p><b>FOB</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#fff;border:1px solid black;color:white;text-align:center" colspan="2">
				<p><b>SHIPPING TERMS</b></p>
			</td>
		</tr>
		<tr>
			<td  style="padding:0px;border:0px;background:#81628B;color:white;text-align:center">
				<p><b>ITEM</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#81628B;color:white;text-align:center">
				<p><b>DESCRIPTION</b></p>
			</td>
			<td style="padding:0px;border:0px;background:#81628B;color:white;text-align:center">
				<p><b>QTY</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#81628B;color:white;text-align:center">
				<p><b>UNIT PRICE</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#81628B;color:white;text-align:center">
				<p><b>TOTAL</b></p>
			</td>
		</tr>
		<tr >
			<td  style="padding:0px;border:0px;background:#fff;height:150px;border:1px solid black;color:white;text-align:center">
				<p><b>REQUISITIONER</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#fff;height:150px;border:1px solid black;color:white;text-align:center">
				<p><b>SHIP VIA</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#fff;height:150px;border:1px solid black;color:white;text-align:center">
				<p><b>FOB</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#fff;height:150px;border:1px solid black;color:white;text-align:center">
				<p><b>SHIPPING TERMS</b></p>
			</td>
			<td  style="padding:0px;border:0px;background:#fff;height:150px;border:1px solid black;color:white;text-align:center">
				<p><b>SHIPPING TERMS</b></p>
			</td>
		</tr>
		<tr>
			<td colspan="2"><br>
			<table style="width:100%; border:1px solid #000;" ><tr>
				<td style="background:#81628B;color:white;text-align:center">
				<p><b>COMMENTS / SPECIAL INSTRUCTIONS</b></p>
			</td></tr>
			<tr>
			<td>&nbsp;</td>
			</tr><tr>
			<td>&nbsp;</td>
			</tr><tr>
			<td>&nbsp;</td>
			</tr>
			</table>
			</td><td > &nbsp;</td>
			<td colspan="2">
			<table style="width:100%;"><tr>
			
			<td  >
				<p><b>SUB TOTAL</b></p>
				<p>CGST</p>
				<p>SGST</p>
				<p>SHIPPING</p>
			
				<p style="background:#81628B;color:white; width:100%;padding:5px;"><b >TOTAL</b></p>
			</td>
			<td >
				<p><b>INR 1,000</b></p>
				<p>90</p>
				<p>90</p>
				<p>0</p>
			
				<p style="background:#81628B;color:white;width:100%;padding:5px;"><b>INR 1,200</b></p>
			</td>
			
				</tr>
				</table></td>
			
			
		</tr>
		<tr>
				<td style="color:#000;text-align:left; padding-left:10px;border:0px;"><p>Recievers Signature</p></td></tr>
		
      </table>
	  <table style="width:100%">
	  <tr>
				
				<td   style="background:#81628B;color:white;text-align:center; padding:0px; border:0px;"><p>If you have any questions about this purchase order, Please contact at 040 6610 1777/ 1888.</p></td>
				</tr>
	  </table>
</body>
</html>